* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  width: 100vw;
}
body {
  font-family: "Poppins";
}
/* NAVBAR */
nav {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  justify-content: space-around;
  width: 400px;
  align-items: center;
}
.nav-item{
  font-weight: lighter;
}
.intro-section {
  display: flex;
}

/* Left section  */

.left-section {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height:500px;
}
.left-section > h3 > img {
  width: 29px;
}
.left-section > h3 {
  font-weight: lighter;
  margin-top: 50px;
  font-size: 25px;
}
.left-section > h1 {
  font-family: "Fredoka One";
  font-size: 51px;
}
.sub-headlines {
  margin-top: 30px;
  color: #1d1d1d;
  font-size: 20px;
  margin-left: 60px;
}
.active-item{
  color:#fe5e35;
  font-weight: bold;
}
.sub-headline{
  margin-bottom: 15px;
} 
.sub-headline img {
  background-color: #fe5e35;
  width: 18px; 
  border-radius: 30px; 
  margin-right: 10px;
  padding:3px;
}
.sub-headline {
  font-weight: normal;
}
.text {
  margin-top: 50px;
  color: #ababab;
  width: 598px;
  font-size: 12px;
}
.action-btns {
  display: flex;
  margin-right: 13px; 
  position: absolute;
  bottom:30px; 
}
.left-section .action-btn{
  margin-top: 30px;
  margin-right: 15px;
  
}
.action-btn {
  height: 35px;
  width: 150px;
  border-radius: 23px;
  border: none;
  font-family: "Poppins";
  font-weight: bold;
  background-color: #fe5e35;
  color: #fff;
}

/* Right section */

.right-section {
  display: flex;
  flex-direction: column;
}
.discount-content + img {
  position: absolute;
  top: 70px;
  right: 170px;
  width: 400px;
}
.discount{
  position:absolute;
  top: 300px;
  right: 480px;
  z-index: 1;
  width: 130px;
  filter: drop-shadow(0 10px 3px  #000);
}
.discount-content{
  color:#fff;
  position: absolute;
  top: 331px;
  right: 506px;
  z-index: 2;
}
.discount-content>h1{
  font-family: 'Fredoka One';
  font-size: 40px;
}
.discount-content>h4{
  text-align: center;
  font-size: 10px;
}
.dots{
  display: flex;
  position: absolute;
  bottom:105px;
  right: 292px;
}
.dot{
  height:20px;
  width:20px;
  border-radius: 50%;
  margin-right: 20px;
} 
.yellow-dot{
  background-color: #fff000;
}
.tomato-dot{
  background-color: #fe5e35;
}
.black-dot{
  background-color: #1d1d1d;
}
.right-section>button{
  position:absolute;
  bottom:30px;
  right: 268px;
}

/* RESPONSIVE */

/* IPads and Tablets */

@media only screen and (max-width:760px) {
.nav-items{
  display:none;
}
.right-section{
  display: flex;
  flex-direction: column;
  gap:40px;
}
.dots {
  position: absolute;
  top:475px;
  right:303px;
 
}
.right-section button{
  position:absolute;
  right: 290px;
  top: 528px;
}
.left-section{
  position:absolute;
    top:540px;
  width:400px;
}
.left-section{
  position:absolute;
  top:540px;

  text-align: justify;
 }
 .left-section h1{
  width:500px;
 }
 
 .sub-headlines{
  margin-left: 30px;
 }
 .text{
  font-size: 10px;
 }
}

/* Mobile responsive */

@media only screen and (max-width:480px) {
  nav{
    display:flex;
    padding:5px;
  }
  .nav-items{
    display:none;
  }
  nav [alt="logo"]{
    width:80px;
  }
  nav [alt="actions"]{
    width:150px;
    position: absolute;
    left:130px;
    top:30px;
  }
  .intro-section{
    display: flex;
    flex-direction: column-reverse;
  }
  .left-section{
    position:absolute;
    top:400px;
    width:450px;
    text-align: justify;
   }
   .left-section h1{
    width:275px;
    text-align: center;
   }
   .left-section h3{
    text-align: center;
    width:275px;
   }
   .sub-headlines{
    margin-left: 30px;
   }
   .text{
    width:270px;
    font-size: 10px;
   }
   .action-btns{
    position: absolute;
    top: 500px;
    display:flex;
    margin-left: 20px;
   }
   .action-btns button{
    width:110px;
   }
  .discount-content + img{
   position: absolute;
   width:250px;
   left:35px;
  } 
  .discount{
    width:73px;
    position:absolute;
    left:15px;
    top:209px;
  }
  .discount-content{
    position:absolute;
    left:29px;
    top:223px;
    
  }
  .discount-content h1{
    font-size: 25px;
    text-align: center;
  }
  .discount-content h4 {
    padding-left: 7px;
    font-size: 7px;
   
  }
  .dots{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height:20px;
    top:237px;
    left:77px;
    width:200px;
  }
  .right-section button{
    left:53px;
    top: 382px;
    margin-left: 40px;
  }


}
